label {
    display: block;
    text-align: center;
}

h1 {
    text-align: center;
}

.container {
    display: block;
    width: 100%;
    margin: 0 auto;
}

.swapButton {
    display: block;
    margin: 10px auto;
    order: 1;
    border: none;
    background: none;
    cursor: pointer;
}

.swapButton:active {
    transform: scale(0.9);
}

.swapButton i {
    font-size: 20px;
    display: flex;
    align-items: center;
    order: 1;
}

.inputContainer {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 30%;
}

.converterButtonContainer {
    display: block;
    margin: 10px auto;
    width: fit-content;
    order: 3;
}

.decimalContainer {
    order: 0;
}

.binaryContainer {
    order: 2;
}

.explanationContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: fit-content;
    max-width: 100%;
    border: 2px solid black;
    margin: 0 auto;
}

.step1, .step2, .step3 {
    padding: 0 30px;
}

.step1 p, .step2 p, .step3 p {
    display: flex;
    justify-content: center;
}

.step1 span, .step2 span, .step3 span{
    min-width: 70px;
    line-height: 200%;
    text-align: center;
    margin-right: 20px;
}

.step3 span strong {
    color: red;
    font-size: 40px;
}

input[type="number"] {
    display: block;
    margin: 0 auto;
    -moz-appearance: textfield;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}